{% extends "AppFrontPageBundle:_Partials:layout.html.twig" %}
{% block body %}
<div class="col-md-6 col-xs-12 col-md-offset-3 reset-password">
      <div class="login-logo">
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Na podany adres e-mail zostanie wysłany link resetujący hasło.</p>
                    {% if error %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
                {% endif %}
                            {% for flashMessage in app.session.flashbag.get('success') %}
                                <div class="alert alert-success">
                                    {{ flashMessage }}
                                </div>
                            {% endfor %}
                            <form action="{{path('reset_password')}}" method="post">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group has-feedback">
                                          <input type="email" class="form-control" name="email" value="{{ last_username }}" placeholder="Email"/>
                                          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group has-feedback">
                                          <button type="submit" class="btn btn-primary btn-block btn-flat pull-right">Resetuj</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
{%endblock%}