<div class="promo-offer-box">
    <div class="promo-offer-box-header">
        <div class="col-md-4 hidden-sm hidden-xs">
            <div id="google-translate">
                <span class="pull-left">Read in 65 languages&nbsp;&nbsp;</span>
                <div id="google_translate_element"></div><script type="text/javascript">
                    function googleTranslateElementInit() {
                        new google.translate.TranslateElement({pageLanguage: 'pl', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
                    }
                </script>
                <script type="text/javascript" async src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
            </div>
        </div>
        <div class="col-ads  col-md-4 hidden-sm hidden-xs">{{contentBloks('frontpage_promobox_top')}}</div>
        <div class="col-title col-md-12"><h1 class="main-text">Archiwalne Oferty Nieruchomości WGN</h1></div>
    </div>
    <div class="clearfix"></div>
</div>
