{% extends "AppFrontPageBundle:_Partials:errorLayout.html.twig" %}
{% block body %}
    <div class="row articles-box-list">
        {% include 'AppArticleBundle:_Partials:leftColumn.html.twig' %}
        <div class="col-md-8">
            <div class="row article">
                <div class="col-md-12">
                    <h2 class="error-404">Błąd 404 - Strony nie znaleziono.</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}
{%block pageTitle %}Błąd 404 - Strony nie znaleziono{%endblock%}
{%block ogTitle %}Błąd 404 - Strony nie znaleziono{% endblock %}
{%block twitterTitle %}Błąd 404 - Strony nie znaleziono{% endblock %}
