{% extends "AppFrontPageBundle:_Partials:layout.html.twig" %}
{% block body %}
        {% include 'AppArticleBundle:_Partials:leftColumn.html.twig' %}
        <div class="col-md-8">
            <div class="row category-list">
                <div class="col-md-12">
                    <h3>Artykuły zwiazane z "{{tag.name}}"</h3>
                </div>
                <div class="col-md-12">
                    {% for item in items %}
                         {% include 'AppArticleBundle:_Partials:articleItem.html.twig' %}
                    {% endfor %}
                </div>
                {{ knp_pagination_render(items) }}
            </div>
        </div>
{% endblock %}
