/web/bundles/
/web/uploads/*
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/config/app_parameters.yml
/app/config/config_dev.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/nbproject/*
/robots.txt
/docs/
/app/Resources/node_modules/
/app/spool/
/web/robots.txt
/web/sitemap
/web/assets/*
/web/media/*
/.idea
