<div class="row neighborhood">
    <div class="col-md-12">
        <h2>Sąsiedztwo</h2>
        {{form_widget(form.typeProperties.neighborhood)}}
        {{form_errors(form.typeProperties.neighborhood)}}
    </div>
</div>
