<div class="row additional-info">
    <div class="col-md-12">
        <h2>Dodatkowe informacje</h2>
        {{form_widget(form.typeProperties.additionalInfo)}}
        {{form_errors(form.typeProperties.additionalInfo)}}
    </div>
</div>
