{% include 'AppOfferBundle:_Partials:formPartLocationData.html.twig' %}
<div class="row offer-data">
    <div class="col-md-4 offset-top">
        <div class="form-group">
            <label>Rynek*</label>
            {{form_widget(form.typeProperties.market,{'attr':{'data-validator':'required'}})}}
            {{form_errors(form.typeProperties.market)}}
        </div>
    </div>
     <div class="col-md-4 offset-top">
        <div class="form-group">
            <label>Nieruchomość dostępna od</label>
            {{form_widget(form.typeProperties.availableFrom)}}
            {{form_errors(form.typeProperties.availableFrom)}}
        </div>
    </div>
     <div class="col-md-4">
        {% include 'AppOfferBundle:_Partials:formPartPromoState.html.twig' %}
    </div>
</div>
{% include 'AppOfferBundle:_Partials:formPartMedia.html.twig' %}
