<div class="modal fade" id="modal-cost-calculator" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-gray">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Kalkulator opłat na terenie Polski</h4>
      </div>
      <div class="modal-body">
        <form name="opcalc">
                  <table class="table table-condensed">
                <tbody><tr>
                        <td colspan="3"><strong>Wybierz rodzaj opłaty</strong></td>
                </tr>
                <tr>
                  <td colspan="3"><input type="radio" name="r" value="2" checked="" onclick="setval(this)"> spółdzielcze własnościowe prawo do lokalu</td>
                </tr>
                <tr>
                  <td colspan="3"><input type="checkbox" name="wpis" onclick="javascript:chops()"> z wpisem do księgi wieczystej</td>
                </tr>


                <tr>
                  <td colspan="3"><input type="radio" name="r" value="1" onclick="setval(this)"> prawo własności do nieruchomości (lokal
        mieszkalny, użytkowy, dom, działka)<br><br></td>
                </tr>
                <tr>
                        <td colspan="2">Cena nieruchomości:</td>
                        <td><input name="cn" type="text" onkeyup="return check()" value="{{offer.price}}" maxlength="10">
                  PLN</td>

                </tr>
                <tr>
                        <td colspan="2">Podatek od czynności cywilnoprawnych:</td>
                        <td><input name="pod" type="text" value="0" readonly="">
                  PLN</td>
                </tr>
                <tr>
                        <td colspan="2">Taksa notarialna:</td>

                        <td><input name="tn" type="text" value="0" readonly="">
                  PLN</td>
                </tr>
                <tr>
                        <td colspan="2">Vat od taksy notarialnej:</td>
                        <td><input name="vat" type="text" value="0" readonly="">
                  PLN</td>
                </tr>

                <tr>
                        <td>Wynagrodzenie prowizyjne agencji:</td>
                        <td><input name="prow" type="text" onkeyup="return check3()" value="2.9">%</td>
                        <td><input name="cprow" type="text" value="0" readonly="">
                  PLN</td>
                </tr>
        <tr>
                        <td colspan="2">VAT od prowizji agencji:</td>
                        <td><input name="cprowv" type="text" value="0" readonly="">
                  PLN</td>
                </tr>
                <tr>
                        <td colspan="2">Opłata sądowa:</td>

                        <td><input name="ops" type="text" value="0" readonly="">
                  PLN</td>
                </tr>
                <tr>
                        <td colspan="2">W sumie opłaty dodatkowe:</td>
                        <td><input name="opd" type="text" value="0" readonly="">
                  PLN</td>
                </tr>
        <tr>
                        <td colspan="2">Wypisy z aktu notarialnego:</td>
                        <td>6 PLN + VAT za stronę</td>
                </tr>
                <tr>
                        <td colspan="2"><strong>Suma:</strong></td>
                        <td><input name="suma" type="text" value="0" style="text-align:right;font-weight:bold" readonly="">
                  PLN</td>
                </tr>
                </tbody></table>
        </form>
      </div>
      <div class="modal-footer">
          <p class="note">Kalkulator opłat i prowizji ma jedynie charakter poglądowy, prezentowane wyniki mogą odbiegać od rzeczywistych opłat. Dokładniejsze informacje zawarte są w ustawie z dnia 28 czerwca 2004 roku w sprawie maksymalnych stawek taksy notarialnej (Dz.U.2004.148.1564).</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
