<div class="col-md-12 offices-box" id="offer">
    <h3>{% if element.customStyle !=''%}style="{{element.customStyle}}"{%endif %}</h3>
    <h2><img src="{{asset('front-layout/gfx/logo-sm.png')}}" class="img-responsive" alt="{{config.blockTitle}}" /><span>{{config.blockTitle}}</span></h2>
    <a href="http://wgnkredyty.com/lista-biur-wgn-kredyty/" target="_blank" style="margin-bottom: 10px;display: block;">Sprawdź Biura WGN KREDYTY</a>
</div>
