{% extends "AppBackOfficeBundle:_Partials:iframeLayout.html.twig" %}
{% block body %}
    <section class="content">
         <form role="search" method="GET">
            <!-- /.box-header -->
            <div class="row">
                <div class="col-md-12">
                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Nazwa</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in categories %}
                                        <tr class="odd gradeX">
                                            <td><a href="#" data-action="selectCategory" data-id="{{item.id}}" title="{{item.name}}">{{item.name}}</a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                </table>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
            {{ knp_pagination_render(categories) }}
            </div>
                <!-- /.col-lg-12 -->
        </form>
    </section>
{% endblock body %}
{% block javascripts %}
    <script>
    $('a[data-action="selectCategory"]').on('click',function(){
        parent.$('#modal-categories-list').modal('hide');
        parent.$('#menu_item_category').val($(this).html());
        parent.$('#menu_item_id').val($(this).attr('data-id'));
    });
    </script>
{% endblock %}