{{newsletter.message | raw}}
<p style="font-size:10px;">Nie chesz otrzymywać wiadomości ? Kliknij w <a href="{{ app.request.getSchemeAndHttpHost() }}{{path('frontend_newsletter_deactivate',{'code':code})}}" title="Rezygnacja">ten link</a></p>