 <div class="modal fade" id="modal-no-select" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Informacja
            </div>
            <div class="modal-body">
               Nie wybrano żadnego elementu
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-success" data-dismiss="modal" title="OK">OK</a>
            </div>
        </div>
    </div>
</div>
