<div class="col-md-4 promo-offer">
    <a href="" class="offer-content" title="">
        <img src="{{asset('front-layout/gfx/_tmp/02.jpg')}}" class="img-responsive"/>
        <div class="offer-desc">300 000, 300m&sup2; Wrocław</div>
    </a>
</div>
