<div class="promo-offer-box">
    <div class="promo-offer-box-header">
        <div class="col-md-4 hidden-sm hidden-xs">
            <div id="google-translate">
                <span class="pull-left">Read in 65 languages&nbsp;&nbsp;</span>
                <div id="google_translate_element"></div><script type="text/javascript">
                    function googleTranslateElementInit() {
                        new google.translate.TranslateElement({pageLanguage: 'pl', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
                    }
                </script>
                <script type="text/javascript" async src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
            </div>
        </div>
        <div class="col-ads col-md-4 hidden-sm hidden-xs">{{contentBloks('frontpage_promobox_top')}}</div>
        <div class="col-title col-md-12 col-xs-12"><h3>Nieruchomości Promowane</h3></div>
    </div>
    <div id="promo-slider">
        {{contentBloks('fp_promo_offers_1')}}
        {{contentBloks('fp_promo_offers_2')}}
    </div>
    <div class="clearfix"></div>
</div>
<button id="prev-offer"><i class="fa fa-angle-left"></i><p>Poprzednia</p></button>
<button id="next-offer"><p>Następna</p><i class="fa fa-angle-right"></i></button>
<div class="clearfix"></div>