{% extends "AppFrontPageBundle:_Partials:layout.html.twig" %}
{% block body %}
    <div class="row">
        {% include 'AppArticleBundle:_Partials:leftColumn.html.twig' %}
        <div class="col-md-8">
            <div class="row sitemap">
                <h2>Mapa Strony</h2>
                {{menu('top_menu',{'class':'sitemap-menu'})}}
                {{menu('footer_menu',{'class':'sitemap-menu'})}}
            </div>
    </div>
{% endblock %}
