{% extends "AppFrontPageBundle:_Partials:layout.html.twig" %}
{% block body %}
    <div class="new-offer confirm">
        <div class="col-md-12 no-padding">
            <div class="progress-bar top bg-gray">
                <div class="col-md-1 col-xs-3 no-padding bg-green arrow-right"><h2>Etap VII</h2></div>
                <div class="col-md-11 col-xs-9">
                    <h3>Płatność została przyjęta</h3>
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <a href="{{path('app_front_page_homepage')}}" class="logo" title="WGN"><img src="{{asset('front-layout/gfx/logo-md.jpg')}}" alt="wgn" class="img-responsive"/></a>
                <img src="{{asset('front-layout/gfx/icons/send-big.jpg')}}" alt="wgn" class="img-responsive"/>
                <h1>Twoje ogłoszenie zostało aktywowane! Dziękujemy.</h1>
            </div>
            <div class="col-md-10 col-md-offset-1">
            {{contentBloks('new_offer_activation')}}
            </div>
        </div>
    </div>
{% endblock %}
