<div id="sms-payment-info">
    <p>Wyślij SMS o treści <span id="sms-name">DPWGNPL</span> na numer <strong><span id="sms-number"></span></strong> i wpisz otrzymany kod w pole poniżej</p>
    <div class="form-group {% if form.smsCode.vars.valid ==false %} has-error {% endif %}">
        <label>Wpisz otrzymany kod</label>
        {{form_widget(form.smsCode)}}
        {{form_errors(form.smsCode)}}
    </div>
    <ul class="info">
        <li>Koszt SMSa wynosi <span class="total">11,07</span> zł brutto (<span class="total-netto">9</span> zł +23% VAT)</li>
        <li>Oczekiwanie na kod może potrwać do kilku minut - w takim przypadku prosimy nie wysyłać kolejnych SMSów</li>
        <li>Kod SMS jest ważny 7 dni od jego otrzymania</li>
        <li>Prosimy zachować SMS w celu ewentualnych reklamacji lub uzyskania pomocy dotyczącej rejestrowanego tym kodem ogłoszenia</li>
        <li>Jeśli masz problem z otrzymanym kodem lub też nie możesz dodać ogłoszenia napisz do nas na adres ogloszenia@wgn.pl</li>
    </ul>
</div>
