<h2>Witaj,</h2>
<p>Otrzymaliśmy Twoją prośbę o zmianę hasła. Aby zresetować hasło należy wejść na poniższy link</p>
<p><a href="{{app.request.getSchemeAndHttpHost()}}{{path('backoffice_new_password',{securityHash:user.securityHash})}}" title="Kliknij Tutaj">{{app.request.getSchemeAndHttpHost()}}{{path('backoffice_new_password',{securityHash:user.securityHash})}}</a></p>
