<h3>Zamównie pakietu ogłoszeń ze strony wgn.pl</h3>
<p>Prosimy o aktywację wybranego przez nas pakietu ogłoszeniowego</p>
<p>Login: {{order.login}}</p>
<p>Osoba Kontaktowa: {{order.contactPerson}}</p>
<p>NIP: {{order.nip}}</p>
<p>&nbsp;</p>
<p>
   {% if order.package =='50' %}
       50 Ogłoszeń ważny 90 dni - 16 zł netto (brutto z VAT 19,68)
   {% elseif  order.package =='100'%}
       100 Ogłoszeń ważny 90 dni - 30 zł netto (brutto z VAT 36,90)
   {% elseif  order.package =='250'%}
       250 Ogłoszeń ważny 90 dni - 40 zł netto (brutto z VAT 49,20)
   {% else %}
       powyżej 250 Ogłoszeń ważny 90 dni - 55 zł netto (brutto z VAT 67,65)
   {% endif %}
</p>